
@{
    ViewBag.Title = "Suma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <hr />
    <h2>¿Qué es una Suma?</h2>
    <p>
        La suma o adición es la operación matemática que resulta al reunir en una sola varias cantidades.

        Las números que se suman se llaman sumandos y el resultado suma o total.

        Para su notación se emplea entre los sumandos el signo + que se lee "más".
    </p>
    <br />
    <hr />
    <h2>Pasos Para Realizar Sumas sin Llevadas:</h2>
    <p>Vamos a ver un ejemplo. Sumemos 83 + 14 =</p>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">Ponemos el 83 y debajo 14, haciendo que coincidan las unidades, es decir, el 3 y el 4.</div>
            <div class="collapsible-body"><span>Sumamos 3 + 4 = 7 y lo ponemos debajo de la columna de las unidades.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Sumamos 8 + 1 = 9 y lo ponemos debajo de la columna de las decenas.</div>
            <div class="collapsible-body"><span><img class="materialboxed" width="300" src="../../Imagenes/suma_sin_llevadas.png" /><br />Y como resultado tendremos 97.</span></div>
        </li>
    </ul>
    <br />
    <hr />
    <h2>Pasos Para Realizar Sumas con Llevadas</h2>
    <p>Veamos un ejemplo. Sumaremos 46 + 27 =</p>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">Primero ponemos el 46 y debajo, haciendo que coincidan las unidades, pondremos el 27.</div>
            <div class="collapsible-body"><span>Sumamos primero las unidades 6 + 7 = 13, el 3 lo ponemos debajo en la columna de las unidades y el 1 lo sumamos a la columna de las decenas.</span></div>
        </li>
        <li>
            <div class="collapsible-header">1 + 4 + 2 = 7, el 7 lo colocamos debajo, en la columna de las decenas.</div>
            <div class="collapsible-body"><span><img class="materialboxed" width="300" src="../../Imagenes/suma_con_llevadas.png" /><br />Y el resultado de la suma es 73.</span></div>
        </li>
    </ul>
    <div class="form-group" style="margin-top:25px">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Volver", "Index", null, null, new { @class = "waves-effect waves-light btn-small" })
        </div>
    </div>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>
