
@{
    ViewBag.Title = "UsoVyB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <hr />
    <h2>Uso de la B</h2>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">Se escribe "b" delante de cualquier consonante y en las palabras terminadas en /b/.</div>
            <div class="collapsible-body"><span>Ej.: Blanco, bloque, mueble, blusa, brazo, brillar, subrayar, pueblo, broma, bruja</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "b" todas las palabras que empiezan por "bu", "bur", "bus", "bibl".</div>
            <div class="collapsible-body"><span>Ej.: Burro, buque, burbuja, burla, buscar, busto, biblioteca, bibliotecario.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "b" las palabras que empiezan por "bi", "bis", "biz" (que significan dos o dos veces), "abo", "abu".</div>
            <div class="collapsible-body"><span>Ej.: Bicolor, bisabuelo, bisiesto, biznieto, bizcocho.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "b" las palabras que empiezan por "bea", "bien", "bene".</div>
            <div class="collapsible-body"><span>Ej.: Beatriz, bien, bienestar, beneficio.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "b" las terminaciones "aba", "abas", "aba", "ábamos", "abais, "aban" del pretérito imperfecto de indicativo de los verbos.</div>
            <div class="collapsible-body"><span>Ej.: Amábamos, cantaba, saltabais, iba, iban íbamos.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "b" todas las formas de los verbos terminados en "aber", "bir", "buir" y de los verbos beber y deber.</div>
            <div class="collapsible-body"><span>Ej.: Haber, deberán, subíamos, atribuye.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "b" todas las palabras terminadas en "bilidad", "bundo", "bunda".</div>
            <div class="collapsible-body"><span>Ej.: Amabilidad, habilidad, vagabundo, moribunda.</span></div>
        </li>
    </ul>
    <br />
    <hr />
    <h2>Uso de la V</h2>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">Se escriben con "v" los tiempos de los verbos cuyo infinitivo no tiene "b" ni "v".</div>
            <div class="collapsible-body"><span>Ej.: Tuve, tuviese, estuve, anduviera, voy, vas, va.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "v" las palabras que empiezan por "na", "ne", "ni", "no".</div>
            <div class="collapsible-body"><span>Ej.: Navaja, nevar, nivel, novio.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "v" las palabras que empiezan por "lla", "lle", "llo", "llu", "pre", "pri", "pro", "pol".</div>
            <div class="collapsible-body"><span>Ej.: Llave, llevar, llover, lluvia, previo, privado, provecho, pólvora.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "v" las palabras que empiezan por "vice", "villa, "di".</div>
            <div class="collapsible-body"><span>Ej.: Vicepresidente, viceversa, villano, villancico, divertir, divisor.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "v" las palabras que empiezan por "eva", "eve", "evi", "evo".</div>
            <div class="collapsible-body"><span>Ej.: Eva, evaluar, evento, evidencia, evitar, evocar, evolución.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "v" después de las consonantes "b", "d", "n".</div>
            <div class="collapsible-body"><span>Ej.: Obvio, subvención, adverbio, advertir, enviar, invasor.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "v" las palabras terminadas en "venir".</div>
            <div class="collapsible-body"><span>Ej.: Venir, intervenir, porvenir, devenir.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "v" los adjetivos y muchos sustantivos terminados en "ava", "ave", "avo", "eva", "eve", "evo", "iva", "ive", "ivo".</div>
            <div class="collapsible-body"><span>Ej.: lava, grave, esclavo, nueva, nieve, nuevo, negativa, detective, adjetivo.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Se escriben con "v" las palabras terminadas en "viro", "vira", "ívoro", "ívora"; y los verbos en "ervar", "olver" y compuestos de "mover".</div>
            <div class="collapsible-body"><span>Ej.: Triunviro, Elvira, carnívoro, herbívoro, observar, reservar, volver, resolver, mover, remover, conmover.</span></div>
        </li>
    </ul>
    <div class="form-group" style="margin-top:25px">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Volver", "Index", null, null, new { @class = "waves-effect waves-light btn-small" })
        </div>
    </div>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>
