
@{
    ViewBag.Title = "Esqueleto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <table>
        <tr>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
            <td>
                <img class="materialboxed" width="300" src="../../Imagenes/esqueleto-humano HD.jpg" />
            </td>
        </tr>
    </table>
    <hr />
    <h2>El Esqueleto Humano:</h2>
    <p>
        El sistema óseo está conformado por los huesos y el esqueleto, por huesos y cartílagos. Existen 206 huesos y estos son de diferentes tamaños y formas.

        Algunos pueden ser huesos diminutos como los que están en el oído (martillo, yunque y estribo). La longitud total de la cadena de osículos puede medir 18 mm. También hay huesos largos, entre ellos el más largo del cuerpo humano es el fémur que puede medir hasta 60 cm.
    </p>
    <br />
    <hr />
    <h2>Funciones del Esqueleto Humano:</h2>
    <p>La función principal de este sistema es sostener el cuerpo, ayudar a la locomoción y proteger los órganos internos. Los huesos se clasifican según su forma en largos, cortos, planos e irregulares.</p>
    <br />
    <p>Los huesos le dan al cuerpo humano su forma definida y determinan su postura. Brindan rigidez y sostén a los tejidos blandos.</p>
    <br />
    <p>Los huesos sirven como escudo interno contra las fuerzas provenientes de afuera del cuerpo, aislando y defendiendo los órganos vitales.</p>
    <br />
    <p>Brindan al organismo la posibilidad de movimiento coordinado voluntario, lo que permite el desplazamiento.</p>
    <br />
    <p>En la médula ósea se guardan diversos minerales como el calcio y el fósforo.</p>
    <br />
    <hr />
    <h2>Estructura del Hueso:</h2>
    <h4>Cartílago:</h4>
    <p>Es un tejido flexible y grueso ubicado en los extremos de los huesos: los protege y les sirve de amortiguación cuando se unen y friccionan uno contra otro en las articulaciones.</p>
    <br />
    <h4>Médula Ósea o Hueso Esponjoso:</h4>
    <p>Está ubicado en el interior del hueso compacto. Se asemeja a una esponja y sus orificios están llenos de médula.</p>
    <br />
    <h4>Hueso Compacto:</h4>
    <p>Este tipo de hueso es fuerte, sólido y blanquecino. Es el que forma la parte exterior y dura de los huesos.</p>
    <br />
    <h4>Periostio:</h4>
    <p>Esta membrana delgada y densa está ubicada sobre la superficie de los huesos y cuenta con nervios y vasos sanguíneos que sirven para nutrir el tejido óseo.</p>
    <br />
    <img class="materialboxed" width="300" src="../../Imagenes/hueso esponjoso.jpg" />
    <blockquote>
        Imagen que representa la estructura del hueso.
    </blockquote>
    <div class="form-group" style="margin-top:25px">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Volver", "Index", null, null, new { @class = "waves-effect waves-light btn-small" })
        </div>
    </div>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>
